# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OS X
.DS_Store*

# npm
node_modules
*.log
*.gz

# project
src/client/bundle.js
src/client/bundle.js.map
